on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: lint and test
jobs:
  lint:
    strategy:
      matrix:
        go-version:
          - "1.25"
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
      - name: go vet
        run: go vet ./...
      - name: go build
        run: go build ./...
